.heroSwiper .swiper-pagination {
  bottom: 18px !important;
}

.heroSwiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.4);
  opacity: 1;
  transition: all 0.3s ease;
  border-radius: 999px;
}

.heroSwiper .swiper-pagination-bullet-active {
  width: 26px;
  background: white;
}