.mySwiper {
  height: auto;
  border: 2px solid #10847e;
  border-radius: 18px;
}

.mySwiper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto !important;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 2px;
  background-color: #10847e;
  padding: 5px 10px;
  border-radius: 18px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1.5px solid white !important;
  background-color: transparent;
  border-radius: 50%;
  transition: all 0.3s ease;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  border: 1.5px solid white;
}
